::placeholder {
    color: #f4aca6;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f4aca6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f4aca6;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgba(238, 94, 79, 0.7);
    color: white;
}

button:hover p {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-height: 800px;
}

.logo-header {
    display: flex;
    height: 10vw;
    margin: 0 auto 0 auto;
    padding-top: 2vh;
}

.App-logo {
    height: 10vw;
    min-height: 10vw;
    width: 30vw;
}

.loading-container {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(186, 96, 135, 0.45);
    height: 100vh;
    width: 100vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: green;
    width: 35vw;
    min-width: 35vw;
    height: 70vh;
    min-height: 70vh;
    margin: 5vh auto auto auto;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    elevation: higher;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.14);
}

.box-item {
    display: flex;
    flex-direction: row;
    width: 35vw;
    min-width: 35vw;
    height: 35vh;
    min-height: 35vh;
    max-height: 35vh;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: flex;
    height: 100%;
    width: 75%;
    justify-content: center;
    align-items: center;

}

.drop-down-wrapper {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
}

.input, .output {
    margin: 20px;
    font-size: 50px;
    width: 100%;
    height: 80px;
    background-color: transparent;
    outline: none !important;
    border: none;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 1.5;
}

.input:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(244, 171, 165, 0.53) 0%, rgba(255, 255, 255, 0.05) 100%)
}

.output:hover {
    cursor: pointer;
    background: transparent;
}

.selection-wrapper::-webkit-scrollbar {
    display: none;
}

.selectable::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}


.selectable::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.51);
}

.selectable-output::-webkit-scrollbar-thumb:hover {
    background: rgba(244, 170, 164, 0.69);
}

.selectable, .selectable-output {
     cursor: pointer;
     padding-bottom: 10px;
}

.unselected {
    font-size: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.unselected:hover {
    background: rgba(244, 170, 164, 0.69);
}

.selected {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    font-size: 30px;
    align-items: center;
    align-content: center;
    padding-left: 15px;
    text-align: center;
    font-weight: 600;

}

.selected:hover {
}

.currency-symbol {
    font-size: 16px;
    text-align: center;
    text-align-all: center;
    margin-right: 3px;
}

.selection-wrapper {
    width: 100%;
    align-items: center;
    align-content: center;

}

.btn {

    height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.btn p {
    color: #ee5e4f;;
    font-size: 3rem;
    margin: 0;
}

.submit-btn {
    position: relative;
    display: inline-flex;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: white;

    height: 90px;
    width: 90px;
    border-color: transparent;
    text-shadow: transparent;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.reset-btn {
    position: relative;
    left: 0;
    height: 70px;
    width: 70px;
    border-color: transparent;
    text-shadow: transparent;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}






